In [2]:
# importamos las librerías que necesitaremos

# Importar librería para trabajar con archivos JSON
# -----------------------------------------------------------------------
import json

# Importar librerías para manipulación y análisis de datos
# -----------------------------------------------------------------------
import pandas as pd

import xml.etree.ElementTree as ET

## Ej. 2

In [6]:
df = pd.read_csv("videogames.csv",  index_col = 0)

In [7]:
df

,name,url,year,certificate,rating,votes,plot,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller
0,Spider-Man,https://www.imdb.com/title/tt5807780/?ref_=adv...,2018.0,T,9.2,"20,759","When a new villain threatens New York City, Pe...",True,True,False,False,False,True,False,False,False
1,Red Dead Redemption II,https://www.imdb.com/title/tt6161168/?ref_=adv...,2018.0,M,9.7,"35,703",Amidst the decline of the Wild West at the tur...,True,True,False,True,False,False,False,False,False
2,Grand Theft Auto V,https://www.imdb.com/title/tt2103188/?ref_=adv...,2013.0,M,9.5,"59,986",Three very different criminals team up for a s...,True,False,False,True,False,False,False,False,False
3,God of War,https://www.imdb.com/title/tt5838588/?ref_=adv...,2018.0,M,9.6,"26,118","After wiping out the gods of Mount Olympus, Kr...",True,True,False,False,False,False,False,False,False
4,Uncharted 4: A Thief's End,https://www.imdb.com/title/tt3334704/?ref_=adv...,2016.0,T,9.5,"28,722",Thrown back into the dangerous underworld he'd...,True,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20798,"Enjoy Your Power, Enjoy Your Choice",https://www.imdb.com/title/tt3845606/?ref_=adv...,2014.0,NaN,NaN,NaN,Add a Plot,False,False,False,False,False,False,False,False,True
20799,RedSun2020,https://www.imdb.com/title/tt0790739/?ref_=adv...,2004.0,NaN,NaN,NaN,Joseph gets kidnapped and it's the player's jo...,False,False,False,False,False,False,False,False,True
20800,Shutter,https://www.imdb.com/title/tt5119948/?ref_=adv...,2015.0,NaN,NaN,NaN,A tech support man who uses a drone to investi...,False,False,False,False,False,False,False,False,True
20801,The Music Machine,https://www.imdb.com/title/tt5142082/?ref_=adv...,2015.0,NaN,NaN,NaN,A young teenage girl and the ghost of a dead m...,False,False,False,False,False,False,False,False,True
20802,Cryptic,https://www.imdb.com/title/tt10964974/?ref_=ad...,2020.0,NaN,NaN,NaN,Kidnapped by an insane man and dragged into a ...,False,False,False,False,False,False,False,False,True

## Ej. 3

In [8]:
df.head(10)

,name,url,year,certificate,rating,votes,plot,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller
0,Spider-Man,https://www.imdb.com/title/tt5807780/?ref_=adv...,2018.0,T,9.2,"20,759","When a new villain threatens New York City, Pe...",True,True,False,False,False,True,False,False,False
1,Red Dead Redemption II,https://www.imdb.com/title/tt6161168/?ref_=adv...,2018.0,M,9.7,"35,703",Amidst the decline of the Wild West at the tur...,True,True,False,True,False,False,False,False,False
2,Grand Theft Auto V,https://www.imdb.com/title/tt2103188/?ref_=adv...,2013.0,M,9.5,"59,986",Three very different criminals team up for a s...,True,False,False,True,False,False,False,False,False
3,God of War,https://www.imdb.com/title/tt5838588/?ref_=adv...,2018.0,M,9.6,"26,118","After wiping out the gods of Mount Olympus, Kr...",True,True,False,False,False,False,False,False,False
4,Uncharted 4: A Thief's End,https://www.imdb.com/title/tt3334704/?ref_=adv...,2016.0,T,9.5,"28,722",Thrown back into the dangerous underworld he'd...,True,True,False,False,False,False,False,False,False
5,The Last of Us: Part II,https://www.imdb.com/title/tt6298000/?ref_=adv...,2020.0,M,8.5,"30,460","Five years after the events of The Last of Us,...",True,True,False,False,False,False,False,False,False
6,Horizon Forbidden West,https://www.imdb.com/title/tt12496904/?ref_=ad...,2022.0,T,9.2,"2,979",Aloy treks into an arcane region and faces new...,True,True,False,False,False,False,True,False,False
7,The Last of Us,https://www.imdb.com/title/tt2140553/?ref_=adv...,2013.0,M,9.7,"60,590","In a hostile, post-pandemic world, Joel and El...",True,True,False,False,False,False,False,False,False
8,Detroit: Become Human,https://www.imdb.com/title/tt5158314/?ref_=adv...,2018.0,M,9.2,"16,907",Take control of three androids in their quest ...,True,True,False,False,False,False,False,False,False
9,Death Stranding,https://www.imdb.com/title/tt5807606/?ref_=adv...,2019.0,M,8.8,"8,136",Deliveryman Sam Porter must travel across a ra...,True,True,False,False,False,False,False,False,False

In [10]:
df.tail(1)

,name,url,year,certificate,rating,votes,plot,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller
20802,Cryptic,https://www.imdb.com/title/tt10964974/?ref_=ad...,2020.0,NaN,NaN,NaN,Kidnapped by an insane man and dragged into a ...,False,False,False,False,False,False,False,False,True

# Ej. 5

In [11]:
df.sample(15)

,name,url,year,certificate,rating,votes,plot,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller
1674,Star Trek: Borg,https://www.imdb.com/title/tt0124140/?ref_=adv...,1996.0,NaN,7.3,207,The player is a Starfleet cadet whose father w...,True,True,False,False,False,False,False,True,False
4120,Largo Winch: Empire Under Threat,https://www.imdb.com/title/tt0352514/?ref_=adv...,2002.0,NaN,7.0,30,"Largo Winch, an adopted son of a billionaire, ...",True,True,False,False,False,False,False,False,False
5625,"Warhammer 40,000: Dawn of War - Soulstorm",https://www.imdb.com/title/tt9741522/?ref_=adv...,2008.0,NaN,7.6,57,This game's plot centres in an imperium of man...,True,False,False,False,False,True,False,True,False
16413,Disney Princess Royal Horse Show,https://www.imdb.com/title/tt6570392/?ref_=adv...,2003.0,E,NaN,NaN,The most beautiful princesses of Disney cartoo...,False,False,False,False,True,False,False,False,False
7678,Pocket Monsters Stadium,https://www.imdb.com/title/tt3400036/?ref_=adv...,1998.0,NaN,7.1,19,Battle your Pokemon in glorious 3D. This Pokem...,True,False,False,False,True,True,False,False,False
5952,Bump 'n' Jump,https://www.imdb.com/title/tt0852627/?ref_=adv...,1982.0,NaN,7.2,37,Add a Plot,True,False,False,False,False,False,False,False,False
7795,Finest Hour,https://www.imdb.com/title/tt2303114/?ref_=adv...,1989.0,NaN,NaN,NaN,Add a Plot,True,False,False,False,False,False,False,True,False
16562,Brain Age: Concentration Training,https://www.imdb.com/title/tt2758364/?ref_=adv...,2012.0,E,5.7,6,Add a Plot,False,False,False,False,True,False,False,False,False
8845,Full Throttle: All-American Racing,https://www.imdb.com/title/tt5248870/?ref_=adv...,1994.0,NaN,NaN,NaN,Add a Plot,True,False,False,False,False,False,False,False,False
5980,Sonic Chrono Adventure,https://www.imdb.com/title/tt19844366/?ref_=ad...,2013.0,E,NaN,NaN,Taking place after the events of Sonic After t...,True,True,False,False,False,True,False,False,False
5259,Get medieval,https://www.imdb.com/title/tt13283024/?ref_=ad...,1998.0,NaN,NaN,NaN,"Top down action game about four heroes, Eryc t...",True,False,True,False,False,True,False,False,False
13196,Tarr Chronicles,https://www.imdb.com/title/tt1220588/?ref_=adv...,2007.0,NaN,NaN,NaN,Add a Plot,False,True,False,False,False,False,False,False,False
7608,Top Gear Rally,https://www.imdb.com/title/tt2022578/?ref_=adv...,1997.0,NaN,6.4,35,Add a Plot,True,False,False,False,False,False,False,False,False
11890,Pale Spectrum: Part Two of the Book of Gray Magic,https://www.imdb.com/title/tt8278176/?ref_=adv...,2017.0,NaN,NaN,NaN,"There are seven magics, five more than have ev...",False,True,False,False,False,False,False,False,False
19246,Simulacra: Pipe Dreams,https://www.imdb.com/title/tt20257342/?ref_=ad...,2018.0,NaN,NaN,NaN,Add a Plot,False,False,False,False,False,False,True,False,False

## Ej. 6

In [13]:
df.columns

Index(['name', 'url', 'year', 'certificate', 'rating', 'votes', 'plot',
       'Action', 'Adventure', 'Comedy', 'Crime', 'Family', 'Fantasy',
       'Mystery', 'Sci-Fi', 'Thriller'],
      dtype='object')

## Ej. 7

In [15]:
df.to_excel("videogames.xlsx")

In [17]:
df_videogames = pd.read_excel("videogames.xlsx", index_col = 0)

In [ ]:
df_videogames

## Ej. 8

In [20]:
df_videogames.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20803 entries, 0 to 20802
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         20803 non-null  object
 1   url          20803 non-null  object
 2   year         20536 non-null  float64
 3   certificate  7903 non-null   object
 4   rating       11600 non-null  float64
 5   votes        11600 non-null  object
 6   plot         20803 non-null  object
 7   Action       20803 non-null  bool
 8   Adventure    20803 non-null  bool
 9   Comedy       20803 non-null  bool
 10  Crime        20803 non-null  bool
 11  Family       20803 non-null  bool
 12  Fantasy      20803 non-null  bool
 13  Mystery      20803 non-null  bool
 14  Sci-Fi       20803 non-null  bool
 15  Thriller     20803 non-null  bool
dtypes: bool(9), float64(2), object(5)
memory usage: 1.4+ MB

# Ej. 9

In [23]:
df_videogames.isnull().sum()

name               0
url                0
year             267
certificate    12900
rating          9203
votes           9203
plot               0
Action             0
Adventure          0
Comedy             0
Crime              0
Family             0
Fantasy            0
Mystery            0
Sci-Fi             0
Thriller           0
dtype: int64

In [26]:
df_videogames.duplicated().sum()

1

# Ej. 10

In [28]:
df_videogames.describe(include="object")

,name,url,certificate,votes,plot
count,20803,20803,7903,11600,20803
unique,19714,20157,21,1905,11276
top,Spider-Man,https://www.imdb.com/title/tt5807780/?ref_=adv...,T,7,Add a Plot
freq,9,4,2474,318,8874

In [ ]:
# El nombre que más aparece es Spiderman que son 9 veces
# La columna que tiene más valores unicos es url
# Las columnas name, url y plot tienen la misma cantidad de valores no nulos

## Ej. 11

In [29]:
df.to_csv("videogames_para_todes.csv")